[submodule "ansible/library/rvm"]
	path = ansible/roles/rvm_io.ruby
	url = https://github.com/rvm/rvm1-ansible
[submodule "ansible/roles/nvm"]
	path = ansible/roles/nvm
	url = https://github.com/fanatid/ansible-role-nvm
